<div class="flex justify-content-center align-items-center min-h-screen w-ful">
  <p-card header="Formulario libro" class="w-10">
    <form
      [formGroup]="formBook"
      (ngSubmit)="edit ? updateBook() : createBook()"
      class="flex flex-column gap-2"
    >
      <div class="field flex flex-column gap-1">
        <label for="title">Titulo</label>
        <input type="text" pInputText formControlName="title" />
      </div>
      <div class="field flex flex-column gap-1">
        <label for="author">Autor</label>
        <input type="text" pInputText formControlName="author" />
      </div>
      <div class="field flex flex-column gap-1">
        <label for="pages">Páginas</label>
        <p-inputNumber inputId="integeronly" formControlName="pages" />
      </div>
      <div class="field flex flex-column gap-1">
        <label for="price">Precio</label>
        <p-inputNumber inputId="integeronly" formControlName="price" />
      </div>
      <div class="field flex flex-column gap-1">
        <p-fileUpload
          mode="basic"
          [chooseLabel]="edit?'Cambiar imagen':'Seleccionar imagen'"
          chooseIcon="pi pi-upload"
          name="demo[]"
          [customUpload]="true"
          accept="image/*"
          maxFileSize="1000000"
          (onSelect)="edit?changeImage($event):onFileSelected($event)"
        />
      </div>
      <div class="flex gap-2">
        <p-button label="Guardar" [loading]="isSaveInProgress" type="submit" />
      </div>
    </form>
  </p-card>
</div>
